# My Jupiter Notebook on IBM Watson Studio

## Mary Fomina

student

*I am interested in Data Science because it changes my mindset*

### The following code tests whether the number is odd or even

In [4]:
def isOdd(num):
    if num % 2 != 0:
        return True
    return False

N = 14
if isOdd(N):
    print(str(N) + " is Odd")
else:
    print(str(N) + " is Even")

14 is Even

* one
* two
* three

1. One
2. Two
3. Three

In [11]:

import os

import matplotlib.pyplot as plt
import pandas as pd


avg_monthly_precip = pd.read_csv("https://ndownloader.figshare.com/files/12710618")


avg_monthly_precip

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

In [17]:
import os
import pandas as pd
from io import StringIO
doc = "Sunday,Monday,Tuesday\nCall,Meeting,Appointment\nDentist,Meeting,Call"
a = pd.read_csv(StringIO(doc))
a

    Sunday   Monday      Tuesday
0     Call  Meeting  Appointment
1  Dentist  Meeting         Call

<a href="www.ibm.com" target="_blank">IBM link</a>

Markdown | Less | Pretty
--- | --- | ---
*Still* | `renders` | **nicely**
1 | 2 | 3